<%
	org = pr[:org]
%>
<style>
canvas{
	display: block;
  width: 75% !important;
  margin: auto;
}
.ct {
	text-align: center;
}
.box {
	border: 1px solid whitesmoke;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  padding: 10px;
  vertical-align: top;
  box-shadow: 5px 10px #888888;
}
.box label {
	font-weight: bold;
	margin-bottom: 10px;
	display: inline-block;
	font-style: oblique;
	color: gray;
}
body {
	font-family: Domine;
}
</style>

<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<div class='content ct'>
	<b> Search an org: </b>
	<form method='get' action='/bv' style='display: inline-block; margin:10px'>
		<input name=org autofocus value="<%=pr[:org]%>" />
		<button> Go! </button>
	</form>	
	<div>(try e.g.: <a href='/bv?org=cleanly'> Cleanly </a> or <a href='/bv?org=toka'> Toka </a> or  <a href='/bv?org=cynet'> Cynet </a>)</div>
	
	<% if org %>
		<script>
			var org = {name:"<%= org %>"};
			console.log(org);
		</script>
		<h5> Showing Results for: <%= pr[:org] %> </h5>

		<div> See also <a target=_blank href='https://crunchbase.com/organization/<%=pr[:org]%>'> <%= pr[:org] %> (Crunchbase page) </a></div>
		<div class='loading' style='display: none;'> Loading... </div>
		<div style=''>		
			<div class='box'>
				<label> Name </label>
				<div class='companyname'></div>
			</div>

			<div class='box'>
				<label> Address </label>
				<div class='address'></div>
			</div>

			<div class='box'>
				<label> Industry </label>
				<div class='industry'></div>
			</div>

			<div class='box'>
				<label> Most Recent Financing Update </label>
				<div class='mostrecentfinancingdate'></div>
			</div>

			<div class='box'>
				<label> BV Last interaction date </label>
				<div class='bvlastinteractiondate'></div>
			</div>

			<div class='box'>
				<label> Last Money Raised </label>
				<div class='latestmoneyraise'></div>
			</div>

			<div class='box'>
				<label> Total Funding </label>
				<div class='totalfunding'></div>
			</div>
		</div>

		<div id='data'>
		</div>

		<div class='ct'>	
			<canvas id="myChart"></canvas>
		</div>
	<% end %>
</div>


<script src='/js/lib/charts.min.js'></script>
<script src='/js/lib/jquery-2.2.1.min.js'></script>
<script>
	$('.odometer').text(11234)
function loadChart(barChartData) {
	var ctx = document.getElementById('myChart').getContext('2d');
	window.myBar = new Chart(ctx, {
		type: 'bar',
		data: barChartData,
		options: {
			responsive:true,
			title: {
				display: true,
				text: 'Money raised (M$)'
			},
			tooltips: {
				mode: 'index',
				intersect: false
			},
			responsive: true,
			scales: {
				xAxes: [{stacked: true}],
				yAxes: [{stacked: true}]
			}
		}
	});
};

function colorDates() {
	if (new Date($('.bvlastinteractiondate').text()) > new Date($('.mostrecentfinancingdate').text())) {
		$('.bvlastinteractiondate, .mostrecentfinancingdate').css('color','blue');
	} else {
		$('.bvlastinteractiondate, .mostrecentfinancingdate').css('color','red');
	}
}

function getOrgData() {
	if (!window.org) return;
	$('.loading').show();
	$.get('/bv/org?name='+org.name).then(res=>{
		$('.loading').hide();
		Object.keys(res).forEach(k => {
			$('.'+k).text(res[k])
		})
		colorDates();
		//loadChart(res.crunchbase);
		//$('#data').text(JSON.stringify(res));
	})
}

getOrgData();
</script>


