<%
  input_name  ||= nil
  second_text ||= nil
  input_type  ||= 'number'
  select_opts ||= nil
%>

<div class='ig'>
  <label><input name="<%=check_name%>" type='checkbox' <%="checked" if cu[check_name]%>> <%= check_text %></label>  
  <% if select_opts %>
    <select name="<%=input_name%>" class='inline'>
      <optgroup>
        <% select_opts.each do |opt| %>
          <option <%="selected" if opt==cu[input_name]%>><%= opt %></option>
        <% end %>
      </optgroup>
    </select>
  <% elsif input_name %>
    <input name="<%=input_name%>" type='<%=input_type%>' class='<%=input_type%> inline' value="<%=cu[input_name]%>"><% if second_text %><span><%= second_text %></span><% end %>
  <% end %>
</div>
