<div class='zig'>
  <h2> Who can message you? </h2>
</div>
<form method=post action='/prefs'>
  <div class='ig'>
    <div><input type="radio" id="huey" name="drone" value="anyone" checked /> <label for="huey">Anyone</label></div>

    <div><input type="radio" id="foo" name="drone" value="conditioned" /> <label for="foo">Only companies that match the following: </label></div>
    <span class='hint'> Select all that apply </span>
  </div>

  <h3> Basics </h3>

  <%= erb :'checkbox_and_input', locals: {check_name: :pay_check, input_name: :pay_limit, check_text: "Must pay me at least", second_text: ",000 NIS a month"} %>

  <%= erb :'checkbox_and_input', locals: {check_name: :location_check, input_name: :location_limit, check_text: "Must be in or near:", select_opts: ["Central Tel Aviv", "Anywhere in Tel Aviv", "Close to a train station", "Ra'anana", "Haifa", "Jerusalem", "Be'er Sheva", "Yoqneam"]} %>

  <%= erb :'checkbox_and_input', locals: {check_name: :role_check, input_name: :role_limit, input_type: 'text', check_text: "Must be for this type of role:"} %>

  <div class='hidden'>
  <h3> Advanced </h3>

  <%= erb :'checkbox_and_input', locals: {check_name: :min_people_check, input_name: :min_people_limit, check_text: "Must have a minimum of ", second_text: "people"} %>

  <%= erb :'checkbox_and_input', locals: {check_name: :max_people_check, input_name: :max_people_limit, check_text: "Must have a minimum of ", second_text: "people"} %>

  <%= erb :'checkbox_and_input', locals: {check_name: :raised_check, input_name: :raised_limit, check_text: "Must have raised at least $", second_text: ",000,000"} %>

  <%= erb :'checkbox_and_input', locals: {check_name: :remote_friendly_check, check_text: "Must be remote-friendly"} %>

  <%= erb :'checkbox_and_input', locals: {check_name: :remote_friendly_check, check_text: "Must be part-time-friendly"} %>

  <%= erb :'checkbox_and_input', locals: {check_name: :only_eng_check, check_text: "Must have an engineer contact me (Not HR)"} %>
  </div>
  
  <button href="#" class="btn zsmall green">Submit</button>
</form>