<style>
.user_card {
  background-color: white;
  padding: 20px;
  border-radius: 1px;
}

.user_card b {
  display: inline-block;
/*  width: 100px;*/
}

</style>
<% users = relevant_users = search_users(pr.just(:q)) %>

<h2> Search Results </h2>

<% users.each do |u| %>
  <div class='user_card'>
    <b> <a href='/profile/<%=u[:_id]%>/<%=u[:nick]%>'> 
    <%= u[:nick] || u[:email] %> </a> </b>
    <div class='user_card_desc'> <b> Description: </b> <%= u[:desc] %> </div>
    
    <div class='hidden'>
      <div class='user_card_interest'> <b> Interest: </b> <%= u[:interest] %> </div>
      <div class='user_card_experience'> <b> Experience: </b>    <%= u[:experience] %> </div>
    </div>
    
    <div>
      <b> Looking for: </b>
      <div class='user_card_role ib'> <%= u[:role_limit] %> </div>
      <div class='user_card_pay ib'>$ <%= u[:pay_limit] %> </div>
      <div class='user_card_location ib'> <%= u[:location_limit] %> </div>
    </div>
  </div>
<% end %>

