<% 
  user_id = pr[:user_id]
  other   = $users.get(user_id) 
  msgs = $msgs.get_many(from: cuid, to: user_id) + $msgs.get_many(to: cuid, from: user_id) 
  msgs =msgs.uniq.sort_by {|m| m[:created_at]}
%>

<h3> Single Chat </h3>

<% msgs.each do |msg| %>
  <% 
    if msg[:from]==cuid 
      user = cu 
    else 
      user = other
    end
  %>
  <div> <b><a href='/profile/<%=user[:_id]%>'><%= user[:nick] %> </a></b>: <%= msg[:text] %> <small> <%= msg[:created_at] %></small></div>
<% end %>



<form method=post action='/send_msg'> 
  <div class='ig'>
    <input type=hidden name=user_id value="<%=user_id%>" >
    <input name=text>
    <button class='btn small green'>Send</button>
  </div>
</form>
